my_product/app/OplusCamera/OplusCamera.apk
system_ext/app/OplusEngineerMode/OplusEngineerMode.apk
system_ext/priv-app/SystemUI/SystemUI.apk
system_ext/priv-app/Settings/Settings.apk
system_ext/apex/com.android.vndk.v30.apex
odm/etc/fad/license.lic
odm/etc/camera/license_release_fdc.lic
odm/etc/camera/model/license.lic
