on property:init.svc.media=*
    setprop init.svc.mediadrm ${init.svc.media}

service media /system/bin/mediahelper
    class main
    user media
    # Increase the 666 permission of uhid file for WFD uibc function
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm uhid
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
#ifdef OPLUS_BUG_STABILITY
#lichao5@PSW.MM.MediaServer.PLAYER.5381096,2023/04/06
#Modify for binder thread blocking
    onrestart restart mediaextractor
#endif OPLUS_BUG_STABILITY
#ifdef OPLUS_BUG_STABILITY
#lichao5@PSW.MM.MediaServer.PLAYER.6002005,2023/08/02
#Restart C2 when mediaserver restarts
    onrestart restart android-hardware-media-c2-hal-1-2
    onrestart restart media.swcodec
#endif OPLUS_BUG_STABILITY

service media32 /system/bin/mediaserver
    disabled
    class main
    user media
    # Increase the 666 permission of uhid file for WFD uibc function
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm uhid
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    
service media64 /system/bin/mediaserver64
    disabled
    class main
    user media
    # Increase the 666 permission of uhid file for WFD uibc function
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm uhid
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
